.ao-item:before,
.ao-item:after {
    content:"";
    display:table;
}

.ao-item:after {
    clear:both;
}

.ao-item .ao-preview {
	float: left;
	position: relative;
}

.ao-item-left .ao-detailsa{
	float: left;
	padding-right: 20px;
	padding-left: 0px;
	text-align: right;
}

.ao-item img {
	margin: 0 auto;
	max-width: 100%;
	display: block;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

.ao-item .ao-annotations {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(138, 166, 179, 0.3);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
	z-index: 5;
}

.ao-item .ao-annotations span {
	display: block;
	position: absolute;
	padding: 10px 25px;
	width: 33%;
	min-width: 140px;
	text-align: center;
	background: #239cbb;
	color: #fff;
	font-size: 16px;
	font-style: italic;
	text-shadow: 1px 1px 1px rgba(29,80,90,0.9);
	box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
  opacity: 0.8;
}

.ao-item .ao-annotations span:after {
	position: absolute;
	background: transparent url(../images/arrow.png) no-repeat center center;
	width: 32px;
	height: 33px;
	top: 50%;
	left: 100%;
	margin: -16px 0 0 -16px;
	content: '';
}

/* Left positioning */
.ao-item span.from-right:after {
	left: auto;
	right: 100%;
	margin: -16px -16px 0 0;
	background-image: url(../images/arrow_left.png);
}

.presentation .overlay {
  margin: 30px 0;
}

