$background-color: #f6f6f6;
$lelylan-color: #239cbb;
$lelylan-border: #e6e6e6;
$app-width: 78em;


/* -------- *
 * Generics *
 * -------- */

html, body {
  height: 100%;
}

body * {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  letter-spacing: 0px;
  line-height: 1.6em;
}

body {
  background-color: $background-color;
  color: #333;
  margin: 0;
}

hr {
  border: none;
  border-bottom: 1px solid $lelylan-border;
  margin: 2em 1em;
}

a {
  color: $lelylan-color;
  text-decoration: none;
}

.container {
  background-color: #fff;
}

.app {
  max-width: $app-width;
  margin: 0 auto;
  overflow: hidden;
}


/* ---------- *
 * Preloading *
 * ---------- */

.preloading {
  width: 6.5em;
  height: 6.5em;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.preloading .description {
  font-weight: 100;
  font-size: 2em;
  color: $lelylan-color;
}

.preloading .logo,
.preloading .spinner {
  margin: 0 1.3em;
}

.preloading .logo {
  float: left;
  width: 3em;
  height: 3em;
  border: 2px solid $lelylan-color;
  border-radius: 100%;
}

.preloading .spinner {
  position: absolute;
  top: 0.85em;
  left: 0.65em;
}

.preloading .spinner > div {
  background-color: $lelylan-color;
}

/* Spinner */

.spinner > div {
  width: .5em;
  height: .5em;
  background-color: #bbb;
  border-radius: 100%;
  display: inline-block;
  margin-right: 0.25em;

  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce-1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce-2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



/* -------*
 * Header *
 * ------ */

.header {
  background-color: $lelylan-color;
  color: #fff;
  font-size: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  padding: 0.3em .5em .4em;
  box-shadow: 0 2px 2px 0px #ddd;
  -moz-box-shadow: 0 4px 4px -2px #ddd;
  -webkit-box-shadow: 0 4px 4px -2px #ddd;
}

.header a {
  color: #fff;
}

.header .logo {
  text-shadow: 0 1px 0 #006A92;
}

.header .spinner {
  display: inline-block;
  font-size: .5em;
  margin-left: .5em;
}

.header .spinner div {
  background-color: #31B4D6;
}


/* Right menu */

.menu {
  float: right;
  font-size: 0.65em;
  padding-top: 0.5em;
  display: block;
}

.menu a {
  padding-left: 0.75em;
  font-weight: 100;
}

.menu a:hover .menu-icon {
  color: #fff;
}

.menu a .menu-icon {
  color: #67C2DA;
  line-height: 1.6em;
}

.menu .text {
  font-size: 1.1em;
  margin-left: 0.1em;
  display: none;
}

.menu .notification-circle {
  color: #fff !important;
  background-color: #67C2DA;
  padding: 0.3em .4em;
  text-align: center;
  border-radius: 500rem;
}

.menu .menu-notification:hover .notification-circle {
  color: #67C2DA !important;
  background-color: #fff !important;
}


/* Left menu */

.back .fa {
  font-size: 1.6em;
  vertical-align: bottom;
}



/* --------------- *
 * Devices content *
 * --------------- */

.content {
  margin-left: 0 !important;
  margin-right: 0 !important;

  .column {
    background-color: #fff;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .device {
    padding: 0 0.5em 0 0.3em;
    border-bottom: 1px solid #f8f8f8;
  }
}

/* Categories */

.category {

  padding: 1em;
  border-bottom: 1px solid #f6f6f6;
  cursor: pointer;

  > p {
    margin: 0;
  }

  > p > a {
    color: $lelylan-color;
    font-weight: 100;
    font-size: 2em;
    line-height: 1.4em;
    text-decoration: none;
  }

  > p > span {
    background-color: #eee;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    color: #999;
    display: inline-block;
    vertical-align: text-bottom;
    text-align: center;
    margin-left: 0.5em;
    font-weight: 100;
    border: 1px solid $lelylan-border;
  }
}

/* Selected category or device */

.content {

  .categories,
  .devices {
    border-right: none;
    margin-left: 0;
  }

  .categories {
    border-left: 0 !important;
  }

  .details {
    border-right: 0 !important;
  }

  .category,
  .device {
    border-left: 0.2em solid #fff;
    background-color: #fff;
  }

  .category:hover,
  .device:hover {
    border-left: 0.2em solid #ddd;
  }

  .active,
  .active:hover {
    border-left: 0.2em solid $lelylan-color;
  }
}

/* Disabled categories */

.category.disabled a {
  color: #d8d8d8;
}
.category.disabled {
  cursor: default;
}

.category.disabled:hover {
  border-left: 0.2em solid #fff;
}

/* Disable the `selected`  blue border when there is only one column */

.one .device,
.one .category {
  border-left: none;
}

.one .category:hover,
.one .device:hover {
  border-left: none !important;
}

.one .active,
.one .active:hover {
  border-left: none !important;
}

/* Device directive */

.ly-device,
.ly-compact {
  border: none;
}

.devices .ly-status .ly-description .ly-name {
  font-size: 1.5em;
  line-height: 1.15em;
}

.devices .ly-status {
  border-bottom: none;
}

.details .ly-device {
  border-bottom: 1px solid #f6f6f6;
  padding: 0 0 0 0.2em;
}

.details .ly-device {
  height: 99.8%;
}

.details .ly-device .ly-modal .ly-modal-window {
  width: 99.7%;
}



/* ----------- *
 * Single page *
 * ----------- */

.column .descriptive {
  width: 100% !important;
}

.message * {
  text-align: center;
}

.message .column {
  font-size: 0.9rem !important;
}

.message p {
  text-align: center;
  color: #888;
}

.message p.title {
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 2.0em;
}

.message p.description {
  margin: 0;
  margin-top: 0.25em;
  font-size: 1.4em;
}

.message p.sub-description {
  margin: 0;
  margin-top: 1.5em;
  font-size: 1.1em;
  padding: 0 1em;
}

.message .fa-desktop {
  margin: 0 0.1em 0 0.2em;
}



/* --------------- *
 * Device creation *
 * --------------- */

.create .step-info {
  display: none !important;
}

.create > div.step {
  margin-top: 0 !important;
  padding-top: 0.5em !important;
}

.create > div.step-info {
  border-right: 1px solid #f6f6f6;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.create > div.step-content {
  padding-left: 1em !important;
  padding-right: 1em !important;
  padding-top: 0.6em !important;
}

.create h1 {
  color: #999;
  margin: 0;
  padding-top: 0.3em;
  font-size: 2.0em;
}

.create h2 {
  color: #999;
  line-height: 1.3em;
  font-size: 1.4em;
  margin-top: 0.8em;
}

.create p {
  color: #999;
}

.create ul {
  color: #999;
  padding-left: 1.2em;
}

.create .create-input {
  color: #666;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  font-weight: 100;
  list-style: none outside none;
  padding-bottom: 0.1em;
  border-bottom: 1px dashed #ddd;
  width: 100%;
  font-size: 1.5em;
  padding-top: 0.5em;
  margin-bottom: 1em;
}

/* Step bubbles */

.create .bubbles {
  margin-top: 0.3em;
  font-size: 2.0em;
  margin-bottom: 0;
}

.create .bubbles .bubble {
  background-color: $lelylan-border;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  font-size: 0.8em;
  height: 1.4em;
  margin-right: 0.2em;
  padding-left: 0.5em;
  width: 1.1em;
  margin-right: 0.7em;
  height: 1.5em;
}

.create .bubbles .bubble-error {
  background-color: #E97C7C;
}

.create .bubbles .bubble-active {
  background-color: $lelylan-color;
  color: #fff;
}

/* Create button */

.create button {
  padding: 0.3em 1em;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  background: none repeat scroll 0 0 transparent;
  border: none;
  border-spacing: 0;
  background-color: $lelylan-color;
}

.create button .fa {
  padding-right: .3em;
  font-size: 1.2em;
}

.create button.disabled {
  background-color: #ddd;
}

/* Selected type */

.create.step-two .fa-angle-right {
  color: $lelylan-color;
  font-size: 1.5em;
}

/* Search input */

.create > div.step-content input[type="search"] {
  margin-left: -0.35em;
}

/* Form validation */

.create button:disabled {
  background-color: #ddd;
}

.create input.ng-invalid.ng-dirty {
  border-bottom-color: #FFB3B3;
}



/* -------------- *
 * Lists of types *
 * -------------- */

.item {
  position: relative;
  padding-left: 0;
  border-bottom: 1px solid #f6f6f6;
  cursor: pointer;
  padding: 1em 0;
}

.item > .name {
  margin: 0;
}

.item > .details {
  margin: 1em 0;
}

.item > p > a {
  color: $lelylan-color;
  font-weight: 100;
  font-size: 1.5em;
  line-height: 1.2em;
  text-decoration: none;
}

.item p.description {
  cursor: default;
}

.item p.description a {
  font-size: 1em;
}

.create .types ul {
  padding-left: 0.2em;
  margin-top: 0;
}

.create .types li {
  display: inline;
  padding-right: 0.8em;
}

.create .types .type-menu {
  color: #ddd;
  border-left: none;
}

.create .types li .type-menu:hover {
  border-left: none;
}

.create .types li a.active {
  color: $lelylan-color
}

.create .types li a {
  font-size: 1em;
  letter-spacing: 0px;
  text-decoration: none;
}

.item .selection,
.item .name .selection {
  font-size: 1.5em;
  margin-right: .25em;
  color: #eee;
}
.item .fa-info:hover ,
.item .fa-info.active,
.item .name:hover .fa-check,
.item .name .fa-check.active {
  color: $lelylan-color;
  border-left: none;
}

.item .fa-info {
  padding: 0.1em 1em;
  float: right;
  position: absolute;
  top: .6em;
  right: -.7em;
}

.item .name .fa-plus-circle {
  color: $lelylan-color;
  border-left: none;
}

.item button {
  margin-left: 1em;
}

.item button {
  margin-left: 1em;
}

.item .message {
  font-size: 1.2em;
  margin-bottom: 0;
  cursor: default;
}

.step-two .item.id button {
  margin-left: 0;
}

.step-two .item.id {
  padding-top: 0;
}

.step-two .item button {
  margin-left: 0;
}

.step-three .item {
  padding-bottom: 0;
}

.step-three p.description {
  margin-top: 0em;
}


/* ----------------- *
/* Lists of pysicals *
/* ----------------- */

.physicals {
  padding-top: 1em !important;
}

.physicals .physical input {
  padding-top: 0.3em;
  font-size: 1em;
}


/* ------------- *
/* Notifications *
/* ------------- */

.notification .message {
  background-color: #EDF9FD;
  color: #239cbb;
  padding: 0.25em 0.5em;
  border: 1px solid #D2EBFF;
  border-top:none;
  text-transform: uppercase;
  height: 1.5em;
}

.notification .message .fa {
  margin-right: 0.5em;
}

.notification.ng-enter,
.notification.ng-leave {
  -webkit-transition:0.3s linear all;
  transition:0.3s linear all;
}

.notification.ng-enter,
.notification.ng-leave.ng-leave-active {
  opacity:0;
}

.notification.ng-leave,
.notification.ng-enter.ng-enter-active {
  opacity:1;
}

/* ------------------ *
 * Notifications list *
 * ------------------ */


.no-notifications,
.notifications-page {

  .column {
    margin: 0 !important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .item {
    padding: 0.7em;
    border-bottom: 1px solid #f6f6f6;
    cursor: default;
  }

  .item.unread {
    background-color: #EDF9FD;
    border-bottom: 1px solid #DAF3FF;
  }

  .item .title {
    color: #239cbb;
    margin: 0;
  }

  .item .time {
    color: #888;
    margin: 0;
  }

  .item .description {
    text-transform: uppercase;
    font-size: 1em;
  }
}



/* ---------- *
 * Login page *
 * ---------- */

.no-notifications .devices-link,
.login .login-link {
  font-size: 3em;
  margin-bottom: 0;
}



/* --------- *
 * Demo page *
 * --------- */

.demo .header {
  background-color: #555;
}

// menu definition

.demo .menu {
  font-size: 1em;
  padding-top: 0em;
}

.demo .menu .title {
  vertical-align: top;
  color: #bbb;
  margin-right: 1em;
  font-size: 0.65em;
  padding-top: 0.5em;
  display: inline-block;
  text-transform: uppercase;
}

// switch
.switch { font-size: 0.5em; display: inline-block; }
.switch input { position: absolute; left: -9999px; }
.switch input:checked + .slider::before { box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 3em 0 0 0 $lelylan-color inset; }
.switch input:checked + .slider::after { left: 3em; }
.switch .slider { position: relative; display: block; width: 5.5em; height: 3em; cursor: pointer; border-radius: 1.5em; transition: 350ms; background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0)), #dddddd; box-shadow: 0 0.07em 0.1em -0.1em rgba(0, 0, 0, 0.4) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7);}
.switch .slider::after { position: absolute; content: ''; width: 2em; height: 2em; top: 0.5em; left: 0.5em; border-radius: 50%; transition: 250ms ease-in-out; background: linear-gradient(#f5f5f5 10%, #eeeeee); box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, 0.9) inset, 0 0.2em 0.2em -0.12em rgba(0, 0, 0, 0.5); }
.switch .slider::before { position: absolute; content: ''; width: 4em; height: 1.5em; top: 0.75em; left: 0.75em; border-radius: 0.75em; transition: 250ms ease-in-out; background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #d0d0d0; box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 0 0 0 0 $lelylan-color inset; }
.switch .spinner { padding-left: 1.5em; }
.switch .spinner > div { background-color: #ccc; }



/* ---------------------------- *
 * Desktop & mobile media query *
 * ---------------------------- */

@media (min-width: 46em) {

  .container {
    margin-top: 0.5em;
    margin-left: 0.3em;
    margin-right: 0.3em;
  }

  .header {
    margin: 0 0.15em;
  }

  .app,
  .content > div.column {
    //border-left: 0.25em solid $background-color;
    border-right: 0.35em solid $background-color;
  }

  .message hr {
    margin-left: 33.33333%;
    width: 33.33333%;
  }

  .create .step-info {
    display: inline-block !important;
  }

  .create .short-info {
    display: none;
  }

  .menu .text {
    display: inline;
  }

  .notification {
    padding: 0em 0.25em 0;
  }
}



/* --------------- *
 * Scrollbar style *
 * --------------- */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
    background-color: $lelylan-border;
}


/* ------------ *
 * Placeholders *
 * ------------ */

::-webkit-input-placeholder { /* WebKit browsers */
  color: #bbb;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #bbb;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #bbb;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #bbb;
}


/* -------------------- *
 * Type personalization *
 * -------------------- */

.ly-type .ly-content > .ly-header {
  background-color: #fff;
}

.ly-type .ly-header .ly-menu a {
  color: $lelylan-color;
}

.ly-type .ly-header .ly-form .ly-field .ly-value,
.ly-type .ly-header .ly-name {
  color: #666;
  width: 60%;
  font-size: 1.1em;
}

.ly-type .ly-modal .ly-header .ly-name {
  font-size: 2em;
}

.ly-type .ly-header .ly-form .ly-owner .ly-field .ly-value {
  border-bottom: 1px dashed #ddd;
}

.ly-type .ly-footer {
  display: none;
}

.ly-type .ly-delete .ly-blocking .ly-list-disc li {
  display: list-item;
}

