body {
  font-family: Lato, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.5em;
}

.container {
  max-width: 66em;
  margin: 0 auto;
  overflow: hidden;
}

.container .fa {
  font-size: 1.5em;
}

.header {
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f6f6f6;
  padding: 1em;
}

.header .menu {
  float: right;
}

.content {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.content > div.column {
  border: 1px solid #ccc;
  padding: 0.5em;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.content > div.categories {
  background-color: #f6f6f6;
  border-right: none;
  margin-left: 0;
}

.content > div.devices {
  background-color: #f6f6f6;
  border-right: none;
}

.content > div.details {
  background-color: #f6f6f6;
}
