$linkColor:       #239cbb !default;
$linkColorHover:  #01cf9e !default;

$lelylanColor:    #239cbb !default;
$typeBorderColor: #ddd    !default;
$lineColor:       #e8e8e8 !default;

@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";
@import "overlay";
@import "circles";


/* Dashboard (generic) */

body {
  background-color: $lineColor !important;
}

.dashboard {
  padding-top: 40px;
}

.dashboard input {
  @include ctb-placeholder(#ccc);
}

.dashboard a:hover {
  text-decoration: none;
}

.dashboard footer {
  margin-top: 20px;
  padding-right: 2px;
}

#lelylan-request-loading {
  display: none;
  margin-top: 4px;
}


.dashboard  {

  /* Header */

  .navbar {
    background-color: rgba(232, 232, 232, 0.9);
  }

  .navbar-fixed-top a {
    color: $linkColor !important;
  }

  .navbar-fixed-top a.active {
    color: $linkColorHover !important;
  }

  .navbar-fixed-top a:hover {
    color: $linkColorHover !important;
  }

  .navbar .brand {
    padding: 5px 20px 10px !important;
  }

  .clearfix {
    margin-bottom: 0 !important;
  }


  /* Side */

  .nav-list {
    padding-left: 0;
  }

  .nav-list li > a {
    font-size: 12px;
    text-transform: uppercase;
  }

  .nav-list .divider {
    background-color: transparent;
    border-color: #ddd;
  }

  .nav-header {
    font-size: 13px;
    font-weight: normal;
  }

  .nav-list [class^="icon-"] {
    margin-top: -1px;
  }

  .nav-list li.deactivated {
    opacity: 0.3;
  }

  .nav-list li.deactivated a:hover {
    background: transparent;
    color: $lelylanColor;
    cursor: default;
  }

  /* Content (generic) */

  .dashboard-content {
    background-color: #fff;
    border: 1px solid $lineColor;
    min-height: 760px;
    padding: 20px;
  }

  .search-query {
    height: 40px;
    width: 360px;
    font-size: 26px;
    line-height: 32px;
    @include ctb-border-radius(30px);
  }


  /* Devices list */

  .devices-view hr.search-divider {
    margin: 20px 0 0;
    border-bottom: none;
  }


  /* Dashboard messages */

  .alert-block {
    background-color: $lineColor;
    border-color: $lineColor;
    color: #333;
  }


  /* Create form */

  .new-view h1 {
    font-weight: 200;
  }

  .new-view hr {
    margin: 20px 0;
  }

  .new-view .control-group {
    padding: 3px 0;
  }

  .new-view .control-group .muted {
    color: #666;
  }

  .new-view .control-group small{
    display: block;
    padding-left: 0;
  }

  .types-view input,
  .new-view input {
    font-size: 26px;
    font-weight: 200;
    line-height: 36px;
    margin-bottom: 0;
    height: 40px;
    padding-left: 13px;
  }

  .types-view .add-on,
  .new-view .add-on {
    font-size: 24px;
    height: 30px;
    padding-top: 14px;
    width: 120px;
    color: #666;
  }

  .new-view .device-description .add-on {
    height: 122px;
  }

  .new-view .control-group .help-inline {
    padding-left: 5px;
  }

  .new-view .control-group .help-inline {
    display: block;
    margin-top: 5px;
  }

  .new-view .control-group .validation {
    color: rgba(221,44,41,0.6);
    display: inline;
    padding-left: 10px;
  }

  .new-view .control-group .input-prepend {
    display: inline;
  }

  .types-view .control-group.error .add-on,
  .new-view .control-group.error .add-on {
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
  }

  .new-view .control-group .add-on {
     margin-top: 4px;
   }

  .types-view .control-group.error input,
  .new-view .control-group.error input {
    border: 1px solid #cccccc;
  }

  .new-view .control-group input {
   width: 400px;
   margin-top: 4px;
  }

  .new-view .device-type {
    position: relative;
  }

  .new-view .device-type .validation {
    position: absolute;
    right: 179px;
    top: 0;
  }

  .new-view .type-select {
    border: 1px solid #cccccc;
    color: #333;
    height: 48px;
    left: 130px;
    position: absolute;
    width: 421px;
    top: 7px;
  }

  .btn-lelylan {
    @include ctb-buttonBackground($lelylanColor, $lelylanColor);
  }


  /* Types list */

  .types-view .types-list table th,
  .types-view .types-list table td {
    line-height: 16px;
    font-weight: 200;
  }

  .types-view .types-list table th {
    font-weight: 200;
    font-size: 20px;
    line-height: 40px;
  }

  .types-view .types-list table td{
    cursor: pointer;
  }

  .types-view .types-list td.actions a {
    margin-left: 15px;
  }

  .types-view hr {
    margin-bottom: 0;
  }

  .types-view .nav-type-menu {
    margin-top: 20px;
    border: 1px solid #e8e8e8;
    border-left: none;
    border-right: none;
    padding-left: 10px;
  }

  .types-view .nav-type-menu > li > a {
    background-color: transparent;
    font-weight: 200;
    padding-right: 24px;
    padding-left: 0;
  }

  .types-view .nav-type-menu > li > a.active {
    color: $linkColorHover;
  }

  .types-view .types-all {
    margin-top: 30px;
  }

  .types-view .types-all .type-id input {
    width: 333px;
  }

  .types-view .types-all .type-id button {
    width: 115px;
    height: 50px;
    font-size: 26px;
    line-height:40px;
    margin-top: 0px;
    margin-left: 15px;
  }


  /* Prsesentation pages (general) */

  .presentation {
    margin: 10px 0;
  }

  .presentation h1 {
    color: #239cbb;
    font-size: 58px;
    font-weight: 200;
    line-height: 52px;
    letter-spacing: 2px;
    margin: 10px 0 20px;
    padding: 0px 0 0 30px;
  }

  .presentation h3,
  .presentation h2 {
    margin-top: 30px;
    font-weight: 200;
    font-size: 28px;
    line-height: 28px;
  }

  .presentation h2 {
    margin-top: 50px;
    font-size: 36px;
    margin-bottom: 20px;
  }

  .presentation h4 {
    font-size: 26px;
    font-weight: 200;
  }

  .presentation .description {
    margin-left: 30px;
    font-weight: 200;
  }

  .presentation .description li,
  .presentation .description p {
    font-size: 18px;
    line-height: 28px;
    color: #555;
  }

  .presentation .description ul,
  .presentation .description p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .presentation .description .btn {
    line-height: 20px;
    width: 240px;
    height: 20px;
    font-size: 18px;
    margin: 10px;
    letter-spacing: 1px;
  }

  .presentation p {
    margin-bottom: 10px;
  }

  .presentation code {
    font-size: 12px;
    color: #333;
    background-color: rgb(255, 255, 255);
  }

  .presentation .label-info {
    background-color: #239cbb;
  }

  .presentation .more-buttons {
    text-align: center;
  }

  .presentation .description p.lead {
    font-size: 22px;
    line-height: 34px;
  }

  /* Presentation home page */

  .home {
    text-align: center;
  }

  .home hr {
    margin: 40px 0;
  }

  .home h1.title {
    margin-top: 25px;
    font-size: 72px;
    padding-left: 0;
  }

  .home h2.payoff {
    padding: 0 10px 20px;
    font-size: 32px;
    color: #333;
    font-weight: 200;
    line-height: 36px;
  }

  .home .description {
    margin-top: 55px;
    padding: 0px 30px;
  }

  .home .description p {
    font-size: 15px;
    line-height: 24px;
    font-size: 18px;
    line-height: 28px;
  }



  /* Presentation demo home page*/

  .demo-home .demo-image {
    margin: 30px 0 20px;
  }

  .demo-home .payoff {
    margin: 30px 0 0;
  }

  .demo-home .description {
    margin-left: 0;
    padding:0 65px;
  }
}

@import "device_component.min";
@import "type_component.min";


/* Device component overriding */

.devices .device-component {
  margin: 0;
}

.devices .detail .device-component hr,
.devices .preview .device-component {
  border-top: none;
  border-color: $lineColor;
}

.devices .preview .device-component {
  height: 59px;
}

.devices .preview .device-component .dc-main {
  opacity: 0.4;
}

.devices .preview .device-component .dc-main:hover {
  opacity: 1;
}

.devices .preview .active .device-component {
  border-right: none
}

.devices .preview .active .device-component .dc-main {
  opacity: 1.0;
}

.devices .detail .device-component {
  border: none;
  margin-left: 10px;
}

.devices .detail .device-component hr{
}

/* Type component overriding */

.type-component .tc-header {
  padding-top: 0;
}

.type-component .tc-description .lead {
  margin-top: 20px;
}
