<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lelylan Dashboard</title>
    <meta name="description" content="The new place where to build the connected home">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/db73b6eb.vendor.css"/>

    <link rel="stylesheet" href="styles/4fbb1d66.main.css"/>
    <style>
      .ng-cloak { display: none !important; }
    </style>
  </head>

  <body ng-app="app" ng-init="loading=true">

    <!-- ------------ --
    <!--  Preloading  --
    <!-- ------------ -->

    <div class="preloading" ng-show="loading">
      <div class="logo"></div>
      <div class="spinner"><div class="bounce-1"></div><div class="bounce-2"></div><div class="bounce-3"></div></div>
      <p class="description">Loading<p>
    </div>

    <!-- ------------- --
    <!-- App Container --
    <!-- ------------- -->

    <div class="app ng-cloak" ng-class="{ demo: demo }" ng-controller="MainCtrl" ng-show="!loading">

      <div class="header">

        <!-- Left menu -->

        <a class="logo" href="index.html" ng-show="menu.visible.lelylan">Lelylan Dashboard</a> <!-- -->
        <a class="back" href=""  ng-show="menu.visible.categories" ng-click="moveToCategories()"><span class="fa fa-angle-left"></span> Categories</a>  <!-- -->
        <a class="back" href=""  ng-show="menu.visible.devices" ng-click="moveToDevices()"><span class="fa fa-angle-left"></span> {{currentCategory.name}}</a>  <!-- -->

        <!-- Right menu -->

        <div class="menu" ng-show="!demo">
          <span class="full-menu">
            <a href="#create"><span class="fa fa-plus"></span> <span class="text">Create</span></a>
            <a href=""><span class="fa fa-circle"></span> <span class="text">Notifications</span></a>
            <oauth
              template="views/templates/oauth-ng-menu.html"
              scope="resources+privates"
              site="{{credentials.site}}"
              client-id="{{credentials.clientId}}"
              redirect-uri="{{credentials.redirectUri}}"
              profile-uri="{{credentials.profileUri}}">
            </oauth>
          </span>
        </div>

        <!-- Right menu demo -->

        <div class="menu" ng-show="demo" ng-click="demoOff()">
          <a class="title" href="" ng-click="demoOff()">Turn off demo</a>
          <div class="switch">
            <input type="checkbox" id="checkbox" checked/>
            <label class="slider" for="checkbox"></label>
          </div>
        </div>
      </div>

      <div class="container" ng-view="" style="height: {{dimensions.height}}em"></div>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="scripts/837364ec.vendor.js"></script>

    <script src="scripts/d0c24dc7.scripts.js"></script>

    <!-- test -->
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="scripts/vendors/766b325c.app-test.js"></script>
    <!--<script src="scripts/vendors/40918631.delayed-responses.js"></script>-->
    <!-- end test -->


    <script>
      angular.module('app', ['lelylan.dashboards.device', 'ngMockE2E'])

      angular.module('app').config(function(lelylanClientConfigProvider, ENV) {
        lelylanClientConfigProvider.configure({ endpoint: ENV.endpoint });
      });
    </script>
</body>
</html>
