<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lelylan Dashboard</title>
    <meta name="description" content="The new place where to build the Connected Home">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/60bf0314.vendor.css"/>

    <link rel="stylesheet" href="styles/2919f314.main.css"/>

    <style>
      .ng-cloak { display: none !important; }
    </style>
  </head>

  <body ng-app="app" ng-init="loading=true">

    <!-- ------------ --
    <!--  Preloading  --
    <!-- ------------ -->

    <div class="preloading" ng-show="loading">
      <div class="logo"></div>
      <div class="spinner"><div class="bounce-1"></div><div class="bounce-2"></div><div class="bounce-3"></div></div>
      <p class="description">Loading<p>
    </div>

    <!-- ------------- --
    <!-- App Container --
    <!-- ------------- -->

    <div class="app ng-cloak" ng-class="{ demo: demo }" ng-controller="MainCtrl" ng-show="!loading">

      <div class="header">

        <!-- Left menu -->

        <a class="logo" href="#" ng-show="menu.visible.lelylan">
          Lelylan Dashboard
        </a>
        <a class="back" href=""  ng-show="menu.visible.categories" ng-click="moveToCategories()"><span class="fa fa-angle-left"></span> Categories</a>  <!-- -->
        <a class="back" href=""  ng-show="menu.visible.devices" ng-click="moveToDevices()"><span class="fa fa-angle-left"></span> {{currentCategory.name}}</a>  <!-- -->
        <div class="spinner" id="spinner"><div class="bounce-1"></div><div class="bounce-2"></div><div class="bounce-3"></div></div>

        <!-- Right menu -->

        <div class="menu" ng-show="!demo">
          <a href="#notifications" class="menu-notification" ng-if="logged"><span class="menu-icon notification-circle">{{notifications.unread}}</span> <span class="text">Notifications</span></a>  <!-- hack inline block -->
          <a href="#create" ng-if="logged"><span class="menu-icon fa fa-plus"></span> <span class="text">Create</span></a>  <!-- hack inline block -->
          <oauth
          template="views/templates/oauth-ng-menu.html"
          scope="resources+privates"
          site="{{credentials.site}}"
          client-id="{{credentials.clientId}}"
          redirect-uri="{{credentials.redirectUri}}"
          profile-uri="{{credentials.profileUri}}">
          </oauth>
        </div>

        <!-- Right menu demo -->

        <div class="menu" ng-show="demo" ng-click="demoOff()">
          <a class="title" href="" ng-click="demoOff()"><span class="text">Turn off demo</span></a> <!-- hack inline block -->
          <div class="switch">
            <input type="checkbox" id="checkbox" checked/>
            <label class="slider" for="checkbox"></label>
          </div>
        </div>
      </div>

      <div class="notification" ng-if="notification.show">
        <div class="message">
          <i class="fa fa-paper-plane-o"></i>{{notification.device.name}} {{notification.message}}
        </div>
      </div>

      <div class="container" ng-view=""></div>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="scripts/979d7ffd.vendor.js"></script>

    <script src="http://http://lelylan-websockets.herokuapp.com/socket.io/socket.io-client/socket.io.js"></script>

    <script src="scripts/b6957976.scripts.js"></script>


    <script>
      angular.module('app', ['lelylan.dashboards.device']);

      angular.module('app').config(function(lelylanClientConfigProvider, ENV) {
        lelylanClientConfigProvider.configure({ endpoint: ENV.endpoint });
      });
    </script>
</body>
</html>
