<div class="no-notifications message ui one column grid" ng-show="notifications.list.length==0">
  <div class="column descriptive">
    <p class="title">No unread notifications</p>
    <p class="description">
    From when the dashboard was open<br>
    there weren't unread notifications
    </p>
    <p></p>
    <p class="devices-link">
      <a href="#devices"><i class="fa fa-space-shuttle"></i> Go to devices</a>
    </p>
    <br><br>
  </div>
</div>

<div class="notifications-page ui one column grid" ng-show="notifications.list.length!=0">
  <div class="column" style="height: {{dimensions.height}}em;">

    <div ng-repeat="notification in notifications.list" class="item" ng-class="{'unread': notification.unread}">
      <p class="title">
        <span class="description">{{notification.device.name}} {{notification.message}}</span>
      </p>
      <p class="time">
        <span am-time-ago="notification.device.updated_at"></span> (<span>{{notification.device.updated_at | date:'medium'}}</span>)
      </p>
    </div>

  </div>
</div>
