<div class="devices-view">
  <div class="search">
    <input class="search-query" type="text" ng-model="query" placeholder="Seach devices (e.g light, lock)">
  </div>

  <hr class="search-divider"/>

  <div class="devices" ng-show="authorized && devices.length!=0">
    <div class="row">
      <div class="span4">
        <div class="device device-{{device.id}}" ng-repeat="device in devices | filter:query">
          <device style="width:100%" device-json="device" device-view="list"></device>
        </div>
      </div>
      <div class="span4">
        <device style="width:100%" device-json="selected"></device>
      </div>
    </div>
  </div>

  <!-- Authorization needed message -->

  <div class="authorization alert alert-block" ng-show="!authorized">
    <p class="lead">To see your devices you first need to <strong>Sign In</strong>.</p>
  </div>

  <!-- No devices found -->
  <div class="empty alert alert-block" ng-show="authorized && devices.length==0">
    <p class="lead">No devices were found. Be the first to <a href="/new">create a new one</a>.</p>
  </div>
</div>
