<div class="home presentation">

  <h1 class="title">Lelylan Dashboard</h1>

  <h2 class="payoff">
    Building the connected home<br>through an open and easy to use solution
  </h2>

  <div>
    <ul class="ch-grid">
      <li>
      <div class="ch-item ch-img-1">
        <div class="ch-info">
          <h3><a class="rounded search" href="/new">Connect your first device</a></h3>
        </div>
      </div>
      </li>
      <li>
      <div class="ch-item ch-img-2">
        <div class="ch-info">
          <h3><a class="rounded create" href="//d.lelylan.com/demo">Play the demo</a></h3>
        </div>
      </div>
      </li>
    </ul>
  </div>

  <hr/>

  <div class="description">

    <h3>What is Lelylan?</h3>

    <p>
    Lelylan is a platform that makes it easy for developers to monitor and control
    all devices in their houses by providing a simple, self descriptive and consistent
    representation of them.<br/>
    <a href="/learn">Learn more about</a>
    </p>
  </div>
</div>
