<div class="home presentation">

  <h1 class="title">Lelylan Dashboard</h1>

  <h2 class="payoff">
    Monitor and control the connected home<br>using an open and simple dashboard
  </h2>

  <div>
    <ul class="ch-grid">
      <li>
      <div class="ch-item ch-img-1">
        <div class="ch-info">
          <h3><a class="rounded search" href="/all">See your devices</a></h3>
        </div>
      </div>
      </li>
      <li>
      <div class="ch-item ch-img-2">
        <div class="ch-info">
          <h3><a class="rounded create" href="/demo">Play with a demo</a></h3>
        </div>
      </div>
      </li>
    </ul>
  </div>

</div>
