<div class="home demo-home presentation">

  <h1 class="title"><a href="/all">Lelylan Demo</a></h1>

  <h2 class="payoff">
    Start playing with the connected home
  </h2>

  <a href="/all"><img class="demo-image img-polaroid" src="/images/demo.png"></a>

  <div class="description">

    <h3>What is this demo about?</h3>

    <p>
    <a href="/all">This demo</a> shows you how easy can be monitoring and controlling all devices
    in your house by providing a simple, easy to use and consistent representation of them.
    </p>
    <p>
    Once you have tried it <a href="mailto:touch@lelylan.com">Mail</a> or
    <a href="http://twitter.com/lelylan">Tweet</a> us. We want to know thoughts.
    </p>
  </div>
</div>
