<div class="new-view">
  <h1 class="title">Create Device</h1>

  <hr/>

  <div ng-show="authorized">
    <form class="compact" name="form">
      <div class="device-name control-group" ng-class="{error: form.name.$invalid}">
        <div class="input-prepend">
          <span class="add-on">Name</span>
          <input class="input-xxlarge" type="text" name="name" ng-model="device.name" placeholder="Device name (required)" required><br/>
        </div>
      </div>
      <div class="device-type control-group" ng-class="{error: form.type.$invalid}">
        <div class="input-prepend">
          <span class="add-on">Type ID</span>
          <input class="input-xxlarge" type="text" name="type" ng-model="device.type.id" placeholder="Type ID (required)" required  ng-show="!select" ng-mouseenter="select=true"><br/>
          <div class="type-select" ng-show="select" ng-mouseleave="select=false">
            <a href="/types">
              <img src="/images/select-type.png">
            </a>
          </div>
        </div>
      </div>
      <div class="device-physical control-group" ng-class="{error: form.physical.$invalid}">
        <div class="input-prepend">
          <span class="add-on">Physical</span>
          <input class="input-xxlarge" type="url" name="physical" ng-model="device.physical.uri" placeholder="Physical Device URI (optional)"><br/>
        </div>
        <small class="help-inline muted">Connect the physical device URI you want to control or <a href="http//dev.lelylan.com/api/physicals">learn how to create one</a></small>
        <small class="help-inline" ng-show="form.physical.$error.url">Not a URL</small>
      </div>
      <button class="create btn btn-lelylan" ng-click="create()" ng-disabled="form.$invalid"><i class="icon-white icon-pencil"></i> Create</button>
    </form>
  </div>

  <!-- Authorization needed message -->

  <div class="authorization alert alert-block" ng-show="!authorized">
    <p class="lead">To create a Device you first need to <strong>Sign In</strong>.</p>
  </div>
</div>
