<div class="login message ui three column grid">
  <div class="column descriptive">
    <p class="title">You have no devices</p>
    <p class="description">
    It takes one minute to create a new device<br> that <em>controls</em>
    or <em>simulates</em> the real world.
    </p>
    <p></p>
    <p class="login-link">
      <a href="#create"><i class="fa fa-plus"></i> Create device</a>
    </p>
    <hr>
    <p>Just curious? Activate the <a href="demo.html"><span class="fa fa-desktop"></span> demo mode</a></p>
  </div>
</div>
