<div class="login message ui three column grid">
  <div class="column descriptive">

    <p class="title">Welcome to Lelylan Dashboard</p>
    <p class="description">A new place for the Connected Home</p>

    <p class="login-link">
      <oauth
        template="views/templates/oauth-ng-only-login.html"
        scope="resources+privates"
        site="{{credentials.site}}"
        client-id="{{credentials.clientId}}"
        redirect-uri="{{credentials.redirectUri}}"
        profile-uri="{{credentials.profileUri}}">
      </oauth>
    </p>

    <p>
    Or ask for an <a href="http://people.lelylan.com/subscriptions/new">Invitation</a>.
    It's free.
    </p>

    <hr>

    <p>
    Just curious?
    Activate the <a href="demo.html"><span class="fa fa-desktop"></span> demo mode</a>
    </p>
  </div>
</div>
