<div class="content ui {{columns}} column grid">
  <div id="categories" class="categories column scroller" style="height: {{windowHeight-4}}em;" ng-show="show.categories">
    <div class="category active"><p class="name"><a href="#">All</a></p></div>
    <div class="category"><p class="name"><a href="#">Lights</a></p></div>
    <div class="category"><p class="name"><a href="#">Locks</a></p></div>
    <div class="category"><p class="name"><a href="#">Sensors</a></p></div>
    <div class="category"><p class="name"><a href="#">Thermostats</a></p></div>
    <div class="category"><p class="name"><a href="#">Alarm System</a></p></div>
    <div class="category"><p class="name"><a href="#">IP Cameras</a></p></div>
    <div class="category"><p class="name"><a href="#">Windows</a></p></div>
    <div class="category"><p class="name"><a href="#">Appliances</a></p></div>
    <div class="category"><p class="name"><a href="#">Meters</a></p></div>
    <div class="category"><p class="name"><a href="#">Gardenings</a></p></div>
    <div class="category"><p class="name"><a href="#">Others</a></p></div>
  </div>
  <div class="devices column" style="height: {{windowHeight-4}}em" ng-show="show.devices">
    <div class="device" ng-repeat="id in [1, 2, 3, 4, 5, 6]" ng-class="{active: id==1}">
      <device
        device-id="{{id}}"
        device-template="bower_components/device-directive-ng/dist/views/templates/compact.html">
      </device>
    </div>
  </div>
  <div class="details column" style="height: {{windowHeight-4}}em" ng-show="show.details">
    <div>
      <device device-id="1"></device>
    </div>
  </div>
</div>

<div class="footer">
</div>
