<div class="content" ng-if="all.length == 0">
  <div class="message">
    <p class="title">You have no devices</p>
    <p class="description">
    <a href=""><i class="fa fa-plus"></i> Create</a> your first one<br>
    or activate the <a href=""><i class="fa fa-desktop"></i> demo mode</a></p>
  </div>
</div>

<div class="content ui {{columns}} column grid" ng-if="all.length > 0">
  <div id="categories" class="categories column scroller" style="height: {{appHeight}}em;" ng-show="show.categories">
    <div class="category" ng-repeat="category in categories" ng-click="setCategory(category.tag)" ng-class="{active: category.tag == currentCategory.tag, disabled: !category.devices}">
      <p class="name {{category}}">
        <a>{{category.name}}</a>
        <span ng-show="category.devices">{{category.devices}}</span>
      </p>
    </div>
  </div>
  <div class="devices column" style="height: {{appHeight}}em" ng-show="show.devices">
    <div class="device" ng-repeat="device in devices" ng-class="{active: device.id == currentDevice.id}">
      <device
        device-json="{{device}}"
        device-template="bower_components/device-directive-ng/dist/views/templates/compact.html">
      </device>
    </div>
  </div>
  <div class="details column" style="height: {{appHeight}}em" ng-show="show.details">
    <div>
      <device device-json="{{currentDevice}}" ng-show="currentDevice"></device>
    </div>
  </div>
</div>

<div class="footer">
</div>
