<div class="notifications-page ui one column grid" >
  <div class="column" style="height: {{dimensions.height}}em;">

    <div ng-repeat="notification in notifications.list" class="item">
      <p class="title">
        <!--<span class="name">{{notification.device.name}}</span>-->
        <span class="description">{{notification.device.name}} {{notification.message}}</span>
      </p>
      <p class="time">
        <span am-time-ago="notification.device.updated_at"></span> (<span>{{notification.device.updated_at | date:'medium'}}</span>)
      </p>
    </div>

  </div>
</div>
