<div class="notifications-page ui one column grid" >
  <div class="column" style="height: {{dimensions.height}}em;">

    <div ng-repeat="notification in notifications.list" class="item">
      <p class="title">
        <span class="name">{{notification.device.name}}</span>
        <span class="updated">({{notification.device.updated_at | date:'medium'}})</span>
      </p>
      <p class="description">{{notification.message}}</p>
    </div>

    <div class="item">
      <p class="title">
        <span class="name">Name</span>
        <span class="time"> | Jul 24, 2014 9:52:51 AM </span>
      </p>
      <p class="description">changed its STATUS to OFF</p>
    </div>


    <div class="item">
      <p class="title">
        <span class="name">Name</span>
        <span class="time">(Jul 24, 2014 9:52:51 AM)</span>
      </p>
      <p class="description">changed its STATUS to OFF</p>
    </div>

    <div class="item">
      <p class="title">
        <span class="name">Name</span>
        <span class="time">(Jul 24, 2014 9:52:51 AM)</span>
      </p>
      <p class="description">changed its STATUS to OFF</p>
    </div>

    <div class="item">
      <p class="title">
        <span class="name">Name</span>
        <span class="time">(Jul 24, 2014 9:52:51 AM)</span>
      </p>
      <p class="description">changed its STATUS to OFF</p>
    </div>

    <div class="item">
      <p class="title">
        <span class="name">Name</span>
        <span class="time">(Jul 24, 2014 9:52:51 AM)</span>
      </p>
      <p class="description">changed its STATUS to OFF</p>
    </div>

    <div class="item">
      <p class="title">
        <span class="name">Name</span>
        <span class="time">(Jul 24, 2014 9:52:51 AM)</span>
      </p>
      <p class="description">changed its STATUS to OFF</p>
    </div>

    <div class="item">
      <p class="title">
        <span class="name">Name</span>
        <span class="time">(Jul 24, 2014 9:52:51 AM)</span>
      </p>
      <p class="description">changed its STATUS to OFF</p>
    </div>

    <div class="item">
      <p class="title">
        <span class="name">Name</span>
        <span class="time">(Jul 24, 2014 9:52:51 AM)</span>
      </p>
      <p class="description">changed its STATUS to OFF</p>
    </div>

    <div class="item">
      <p class="title">
        <span class="name">Name</span>
        <span class="time">(Jul 24, 2014 9:52:51 AM)</span>
      </p>
      <p class="description">changed its STATUS to OFF</p>
    </div>

    <div class="item">
      <p class="title">
        <span class="name">Name</span>
        <span class="time">(Jul 24, 2014 9:52:51 AM)</span>
      </p>
      <p class="description">changed its STATUS to OFF</p>
    </div>

    <div class="item">
      <p class="title">
        <span class="name">Name</span>
        <span class="time">(Jul 24, 2014 9:52:51 AM)</span>
      </p>
      <p class="description">changed its STATUS to OFF</p>
    </div>

    <div class="item">
      <p class="title">
        <span class="name">Name</span>
        <span class="time">(Jul 24, 2014 9:52:51 AM)</span>
      </p>
      <p class="description">changed its STATUS to OFF</p>
    </div>




  </div>
</div>
