<div class="types-view">
  <div class="search">
    <input class="search-query" type="text" ng-model="query" placeholder="Seach types (e.g light, lock)" disabled>
  </div>

  <ul class="nav nav-pills nav-type-menu">
    <li class="pull-right"><a href="javascript:" class="back" ng-click="back();"><span class="icon-chevron-left"></span> Back</a></li>
    <li><a href="javascript:" class="select" ng-click="select(type)"><span class="icon-ok"></span> Select this type</a></li>
  </ul>

  <lelylan-type type-id="typeId"></lelylan-type>
</div>
