<div class="types-view">
  <div class="search">
    <input class="search-query" type="text" ng-model="query" placeholder="Seach types (e.g light, lock)" ng-disabled="typesMenu=='all'">
  </div>

  <!-- type list menu -->

  <ul class="nav nav-pills nav-type-menu">
    <li class="pull-right"><a href="javascript:" class="back" ng-click="back();"><span class="icon-chevron-left"></span> Back</a></li>
    <li><a href="javascript:" class="populars" ng-class="{active: typesMenu=='populars'}" ng-click="getPopular()"><span class="icon-star"></span> Popular</a></li>
    <li><a href="javascript:" class="yours" ng-class="{active: typesMenu=='yours'}" ng-click="getYours()"><span class="icon-user"></span> Yours</a></li>
    <li><a href="javascript:" class="all" ng-class="{active: typesMenu=='all'}" ng-click="getAll()"><span class="icon-list"></span> All</a></li>
  </ul>

  <!-- types list (popular and yours)-->

  <div class="types types-list"  ng-show="authorized && types.length!=0 && typesMenu!='all'">
    <div class="type type-{{type.id}}" ng-repeat="type in types | filter:query">
      <a class="name" href="javascript:" ng-click="select(type)" >{{type.name}}</a>
      <a class="details pull-right" href="/types/{{type.id}}?name={{type.name}}"><i class="icon-circle-arrow-right"></i> Details</a>
      <hr class="clearfix"/>
    </div>
  </div>

  <!-- types through id-->
  <div class="types types-all" ng-show="authorized && types.length!=0 && typesMenu=='all'">
    <div class="type-id">
      <form class="compact" name="form">
        <div class="device-name control-group" ng-class="{error: form.id.$invalid}">
          <div class="input-prepend">
            <span class="add-on">Type ID</span>
            <input class="xx-large" type="text" name="id" ng-model="id" placeholder="5042344b95fc441000000001" required minlength="24" maxlength="24">
            <button class="create btn btn-lelylan lelylan-big" ng-click="load(form.id.$modelValue)" ng-disabled="form.$invalid">Select</button>
          </div>
        </div>
          <small class="help-inline muted">
            Search the desired type on <a href="//t.lelylan.com/">Lelylan Types</a> and place its ID here.
          </small>
      </form>
    </div>
  </div>

  <!-- Authorization needed -->
  <div class="authorization alert alert-block" ng-show="!authorized">
    <p class="lead">To see your types you first need to <strong>Sign In</strong>.</p>
  </div>

  <!-- No types found -->
  <div class="empty alert alert-block" ng-show="authorized && types.length==0">
    <p class="lead">
    No types were found. <a href="//t.lelylan.com/">Learn how to</a> create a type.
    </p>
  </div>
</div>
